<!DOCTYPE html>
<html>
<head>
    <title>Новостной сайт</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>📰 Последние новости</h1>
        <button id="refreshButton">ОБНОВИ</button>
        <input id="SearchPole" type="text" placeholder="Поиск по новостям...">
        <div class="news-list" id="newsList">
            <p>Загружаю новости..</p>
        </div>        
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>