<!DOCTYPE html>
<html>
<head>
    <title>Новостной сайт</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>📰 Последние новости</h1>
        <button id="refreshButton">ОБНОВИ</button>
        <input id="SearchPole" type="text" placeholder="Поиск по новостям...">
        <div class="news-list" id="newsList">
            <p>Загружаю новости..</p>
        </div>        
    </div>
    <div class="post_delete">
        <div class="left">
            <input id = "title_new" type="text" placeholder="Заголовок...">
            <input id = "source_new" type="text" placeholder="Источник...">
            <button id = "post_new">Загрузить</button>
        </div>
        <div class="right">
            <input id = "number_delete" type="text" placeholder="Номер новости для удаления...">
            <button id = "delete_news">Удалить</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>